// Common style variables for easy customization
$bg-color: rgba(20, 20, 20, 0.85)
$font-color: #fff
$max-width: 15rem
$font-size: .85rem
$padding: .5rem .7rem

// Careful when you edit these! They mirror variables set in JS:
// "aligning_arrow_buffer" and "aligning_arrow_width".
// If you change $arrow-size or $buffer (below), be sure to 
// update the JS file, as well. Also, you'll have to change
// lines like "left: calc(50% - .4rem)", because you can't
// drop a variable in like that.
// $arrow-size is not the width.. it's the border-width.
$arrow-size: .4rem
$buffer: .3rem

.cooltip
  position: absolute
  top: 0
  left: 0
  background-color: $bg-color
  color: $font-color
  padding: $padding
  font-size: $font-size
  max-width: $max-width
  border-color: auto

  &.direction-top
    margin-bottom: $buffer + $arrow-size
    &:after
      position: absolute
      content: ''
      width: 0
      height: 0
      border-top: $arrow-size solid $bg-color
      border-right: $arrow-size solid transparent
      border-bottom: $arrow-size solid transparent
      border-left: $arrow-size solid transparent
      border-top-color: inherit
      top: 100%
      left: calc(50% - .4rem)

  &.direction-right
    margin-left: $buffer + $arrow-size
    &:after
      position: absolute
      content: ''
      width: 0
      height: 0
      border-top: $arrow-size solid transparent
      border-right: $arrow-size solid $bg-color
      border-bottom: $arrow-size solid transparent
      border-left: $arrow-size solid transparent
      border-right-color: inherit
      top: calc(50% - .4rem)
      right: 100%

  &.direction-bottom
    margin-top: $buffer + $arrow-size
    &:after
      position: absolute
      content: ''
      width: 0
      height: 0
      border-top: $arrow-size solid transparent
      border-right: $arrow-size solid transparent
      border-bottom: $arrow-size solid $bg-color
      border-left: $arrow-size solid transparent
      border-bottom-color: inherit
      bottom: 100%
      left: calc(50% - .4rem)

  &.direction-left
    margin-right: $buffer + $arrow-size
    &:after
      position: absolute
      content: ''
      width: 0
      height: 0
      border-top: $arrow-size solid transparent
      border-right: $arrow-size solid transparent
      border-bottom: $arrow-size solid transparent
      border-left: $arrow-size solid $bg-color
      border-left-color: inherit
      top: calc(50% - .4rem)
      left: 100%

  // Overrides for arrow position if align property set
  // NOTE: If you change the position attributes, you must
  // Update the JS file for the following: 
  // @_aligning_arrow_buffer
  // to mirror the position attribute.
  &.direction-top, &.direction-bottom
    &.align-right
      &:after
        left: $buffer

    &.align-left
      &:after
        left: initial
        right: $buffer

  &.direction-right, &.direction-left
    &.align-top
      &:after
        top: initial
        bottom: $buffer

    &.align-bottom
      &:after
        top: $buffer
