@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700)
body
  font-family: Open Sans

  #container
    margin: 0 auto
    max-width: 50rem

    header
      h1
        font-size: 2rem

.cooltip
  position: absolute
  background-color: rgba(20, 20, 20, 0.8)
  color: #fff
  padding: .5rem