h1.project-name {
  font-family: 'Ropa Sans';
}

h2.project-tagline a {
  color: #fff;
  font-weight: bold;
}

table#options-table, table#api-table {
  font-size: .8rem;
}

table#options-table td, table#api-table td {
  vertical-align: top;
}

table#options-table tr td:not(:first-child) code, table#api-table tr td:not(:first-child) code {
  font-size: .8rem;
}

ul.demo-links {
  list-style: none;
}

ul.demo-links li {
  width: 30%;
  display: inline-block;
}

.cooltip.light {
  background-color: #ecf0f1;
  color: #333; }

.cooltip.error {
  background-color: #c0392b;
  color: #fff; }
