h1.project-name {
  font-family: 'Ropa Sans';
}

table#options-table {
  font-size: .8rem;
}

table#options-table td {
  vertical-align: top;
}

table#options-table tr td:not(:first-child) code {
  font-size: .8rem;
}
